.Card-imageContainer {
    position: relative;
    width: 19%;
    border: 1px solid white;
    border-radius: 5% 5% 0 0;
    box-shadow: 0.025rem 0.025rem 0.025rem var(--secondary-text-color);
    cursor: pointer;
    margin-right: 0.5%;
}

.Card-imageContainer:nth-child(even) {
    height: 80%;

}
.Card-imageContainer:nth-child(odd) {
    height: 60%;
}

.Card-image{
    height: 100%;
    width: 100%;
    border-radius: 5% 5% 0 0;
}

.Card-imageOverlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--primary-bg-color);
    opacity: 0.9;
    z-index: 10;
    top: 0;
    left: 0;
}