.LandingPageContainer-mainContainer {
    display: grid;
    grid: repeat(3, 33.33%) / repeat(5, 20%);
    height: 100%;
    width: 100%;
    position: relative;
}

.LandingPageContainer-backgroundColor{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -20;
    background-color: var(--primary-bg-color);
}